/* --- VARIABILI COLORE --- */
:root {
    --nero: #000000; /*Nero*/
    --grigioScuro: #202124; /*Grigio Scuro*/
    --borgogna: #560422; /*Borgogna*/
    --verdeMuschio: #0C3F2F; /*Verde Muschio*/
    --viola: #42274C; /*Viola*/
    --marroneBruciato: #8d4005; /*Marrone Bruciato*/
    --bluNotte: #0b152f; /*Blu Notte*/
    --oroVecchio: #C4AC38; /*Oro Vecchio*/
    --rossoSangue: #700700; /*Rosso Sangue*/
    --biancoSporco: #e5dcd4; /*Bianco Sporco*/
}

/* --- CLASSI "nero" --- */
.bg-nero { background-color: var(--nero) !important; }
.text-nero { color: var(--nero) !important; }
.border-nero { border-color: var(--nero) !important; }
.stroke-nero { -webkit-text-stroke: 1px var(--nero) !important; }

/* --- CLASSI "grigioScuro" --- */
.bg-grigioScuro { background-color: var(--grigioScuro) !important; }
.text-grigioScuro { color: var(--grigioScuro) !important; }
.border-grigioScuro { border-color: var(--grigioScuro) !important; }
.stroke-grigioScuro { -webkit-text-stroke: 1px var(--grigioScuro) !important; }

/* --- CLASSI "borgogna" --- */
.bg-borgogna { background-color: var(--borgogna) !important; }
.text-borgogna { color: var(--borgogna) !important; }
.border-borgogna { border-color: var(--borgogna) !important; }
.stroke-borgogna { -webkit-text-stroke: 1px var(--borgogna) !important; }

/* --- CLASSI "verdeMuschio" --- */
.bg-verdeMuschio { background-color: var(--verdeMuschio) !important; }
.text-verdeMuschio { color: var(--verdeMuschio) !important; }
.border-verdeMuschio { border-color: var(--verdeMuschio) !important; }
.stroke-verdeMuschio { -webkit-text-stroke: 1px var(--verdeMuschio) !important; }

/* --- CLASSI "viola" --- */
.bg-viola { background-color: var(--viola) !important; }
.text-viola { color: var(--viola) !important; }
.border-viola { border-color: var(--viola) !important; }
.stroke-viola { -webkit-text-stroke: 1px var(--viola) !important; }

/* --- CLASSI "marroneBruciato" --- */
.bg-marroneBruciato { background-color: var(--marroneBruciato) !important; }
.text-marroneBruciato { color: var(--marroneBruciato) !important; }
.border-marroneBruciato { border-color: var(--marroneBruciato) !important; }
.stroke-marroneBruciato { -webkit-text-stroke: 1px var(--marroneBruciato) !important; }

/* --- CLASSI "bluNotte" --- */
.bg-bluNotte { background-color: var(--bluNotte) !important; }
.text-bluNotte { color: var(--bluNotte) !important; }
.border-bluNotte { border-color: var(--bluNotte) !important; }
.stroke-bluNotte { -webkit-text-stroke: 1px var(--bluNotte) !important; }

/* --- CLASSI "oroVecchio" --- */
.bg-oroVecchio { background-color: var(--oroVecchio) !important; }
.text-oroVecchio { color: var(--oroVecchio) !important; }
.border-oroVecchio { border-color: var(--oroVecchio) !important; }
.stroke-oroVecchio { -webkit-text-stroke: 1px var(--oroVecchio) !important; }

/* --- CLASSI "rossoSangue" --- */
.bg-rossoSangue { background-color: var(--rossoSangue) !important; }
.text-rossoSangue { color: var(--rossoSangue) !important; }
.border-rossoSangue { border-color: var(--rossoSangue) !important; }
.stroke-rossoSangue { -webkit-text-stroke: 1px var(--rossoSangue) !important; }

/* --- CLASSI "biancoSporco" --- */
.bg-biancoSporco { background-color: var(--biancoSporco) !important; }
.text-biancoSporco { color: var(--biancoSporco) !important; }
.border-biancoSporco { border-color: var(--biancoSporco) !important; }
.stroke-biancoSporco { -webkit-text-stroke: 1px var(--biancoSporco) !important; }