/* --- NASCONDI SCROLLBAR --- */
/* Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}
/* IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* --- NASCONDI FRECCE INPUT NUMBER --- */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* --- BLOCCA TEXTAREA --- */
textarea {
  resize: none !important;
}

/* --- FONT --- */
* {
  font-family: Garamond !important;
}

/* --- COLORE DEFAULT --- */
body {
  background-color: var(--grigioScuro) !important;
  color: var(--biancoSporco) !important;
}